p{
    color: white;
    text-align: center;
}

h1{
    margin: 30px
}

.header *{
    border: solid
}

.header{
    color : white;
    background-color : blue;
    display : flex;
    justify-content: space-between;
    border: solid
}


.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid
}

img{
    padding: 30px
}

h2{
    text-align: center;
    border: solid;
}

a:link{
    color: gray 
}

a:visited{
    color: white 
}

.item{
    border: solid;
   
    position:relative;
}

.item p{
    position:absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.75;
}


    